html {
  background-color: #fff;
  color: #252525;
}

.forkme {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-property: opacity;
     -moz-transition-duration: 0.2s;
     -moz-transition-timing-function: ease-out;
}
    
.forkme:hover {
  opacity: 0.7;
}

/** Build status img **/
h1 a img {
  padding: 0 0 4px 15px;
}

#container, #footer {
  width: 800px;
  margin: 0 auto;
}

.powered {
  border-top: 1px solid #999;
  margin-top: 30px;
}

.powered span {
  float: left;
  padding: 20px 20px 0 0;
}

code {
  background-color: #F5F5FF;
  padding: 0 2px;
  border: 1px solid #d0d0ee;
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
}

pre {
  margin: 25px 0;
  padding: 5px 0 0 15px;
  border-left: 5px solid #d0d0ee;
  color: #444466;
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin-bottom: 45px;
  font-size: 2.5em;
}

h2 {
  margin-top: 30px;
  border-bottom: 1px solid #999;
  font-weight: normal;
  font-size: 1.8em;
}

h3 em {
  font-weight: normal;
  font-size: 14px;
}

a, a:visited {
  color: #d11e27;
}

a:hover {
  text-decoration: none;
}

#footer {
  border-top: 1px solid #999;
  margin-top: 30px;
  padding: 10px 0;
  color: #444;
  line-height: 1.785em;
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 0.875em;
}

#footer a {
  margin: 0 3px;
  color: #444;
  text-decoration:none;
  opacity: 0.6;
  -webkit-transition-property: opacity, color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-property: opacity;
     -moz-transition-duration: 0.2s;
     -moz-transition-timing-function: ease-out;
}

#footer a:hover {
  opacity: 1;
  color: #000;
}

#footer span {
  float: right;
}