pre.sh_sourceCode .sh_keyword {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_type {
  color: #00ff00;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_string {
  color: #D11E27;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_regexp {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_specialchar {
  color: #ff22ff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_comment {
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_number {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_preproc {
  color: #ff22ff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_function {
  color: #000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_url {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_date {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_time {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_file {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_ip {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_name {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_variable {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_oldfile {
  color: #ff22ff;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_newfile {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_difflines {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_selector {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_property {
  color: #B26818;
  font-weight: normal;
  font-style: normal;
}

pre.sh_sourceCode .sh_value {
  color: #ff0000;
  font-weight: normal;
  font-style: normal;
}
